# Large MATLAB files to ignore
*.fig
*.mat
# other large files to ignore
*.png
*.eps
*.pdf
*.zip
*.mp4
*.avi
*.gz
*.tar
*.html
#MNIST files
*.idx?-ubyte
#LaTeX compilation files
*.nav
*.out
*.toc
*.run.xml
*.snm
*.vrb
*.log
*.bbl
*.aux
*.blg
*.lof
*.lot
*.synctex*
#folders to ignore
*kmeans_MacKay/
*kmeansoft/
*shallow-DANN*/
trunk/Dissertation/formatting/
#Exceptions
!trunk/Dissertation/Dissertation_RDC.pdf
!trunk/DefenseSlides/Slides/defenseSlides.pdf